body.js-olay-visible {
  overflow: hidden;
}

.js-olay-container {
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.js-olay-table {
  display: table;
  width: 100%;
  height: 100%;
}

.js-olay-cell {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.js-olay-content {
  display: inline-block;
  position: relative;
  outline: none;
}

/* Built-in Transitions */

.js-olay-scale-up.js-olay-container,
.js-olay-scale-down.js-olay-container,
.js-olay-flip.js-olay-container,
.js-olay-slide.js-olay-container {
  opacity: 0;
  -webkit-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -moz-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -ms-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -o-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  transition: all .25s cubic-bezier(.5, 0, .5, 1);
}

.js-olay-scale-up.js-olay-show.js-olay-container,
.js-olay-scale-down.js-olay-show.js-olay-container,
.js-olay-flip.js-olay-show.js-olay-container,
.js-olay-slide.js-olay-show.js-olay-container {
  opacity: 1;
}

.js-olay-flip .js-olay-cell {
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -ms-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
}

.js-olay-scale-up .js-olay-content,
.js-olay-scale-down .js-olay-content,
.js-olay-flip .js-olay-content,
.js-olay-slide .js-olay-content {
  -webkit-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -moz-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -ms-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  -o-transition: all .25s cubic-bezier(.5, 0, .5, 1);
  transition: all .25s cubic-bezier(.5, 0, .5, 1);
}

.js-olay-scale-up .js-olay-content {
  -webkit-transform: scale(.95);
  -moz-transform: scale(.95);
  -ms-transform: scale(.95);
  -o-transform: scale(.95);
  transform: scale(.95);
}

.js-olay-scale-down .js-olay-content {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.js-olay-scale-up.js-olay-show .js-olay-content,
.js-olay-scale-down.js-olay-show .js-olay-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.js-olay-flip .js-olay-content {
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}

.js-olay-flip.js-olay-show .js-olay-content {
  -webkit-transform: rotateX(0);
  -moz-transform: rotateX(0);
  -ms-transform: rotateX(0);
  -o-transform: rotateX(0);
  transform: rotateX(0);
}

.js-olay-slide .js-olay-content {
  -webkit-transform: translate(0, -100%);
  -moz-transform: translate(0, -100%);
  -ms-transform: translate(0, -100%);
  -o-transform: translate(0, -100%);
  transform: translate(0, -100%);
}

.js-olay-slide.js-olay-show .js-olay-content {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
